autom4te.cache
config.guess
config.log
config.sub
config.nice
config.status
configure
depcomp
install-sh
libtool
ltmain.sh
aclocal.m4
stamp-h1
m4
missing
perf.data
.deps
.libs
_configs.sed
auto_config.h
pinba_config.h
pinba_config.h~
pinba_config.h.in
pinba_config.h.in~
*.o
*.in
*.a
*.la
*.lo
*.sublime-*
.idea

