autom4te.cache
config.guess
config.log
config.sub
config.nice
config.status
configure
depcomp
install-sh
libtool
ltmain.sh
stamp-h1
m4
missing
Makefile
.deps
.libs
auto_config.h
*.o
*.in
*.a
*.la
*.lo